extends ../layout
block content
	h3(class="theme-text")=title
	i(class="unimportant") You have a temporary password. Please set a new password now.
	form#new-password(name="new-password" method="post" action="/user/newpassword")
		div(class="w3-row w3-padding-16")
			div(class="w3-quarter w3-label")
				label New Password: 
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border" type="password" name="password")
		div(class="w3-row w3-padding-16")
			div(class="w3-quarter w3-label")
				label Confirm: 
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border" type="password" name="passwordconfirm")
		div(class="w3-padding-16")
			input(type="submit" class="theme-submit w3-btn" value="Update Password")
		if redirectURL
			input(type="hidden" name="redirectURL" value=redirectURL)