extends ../layout
block content
	div(class="w3-center")
		form#login-form(name="login-form" method="post" action="/user/profile/newserver")
			h3(class="theme-text")=title
			div(class="w3-row w3-padding-16")
				div(class="w3-quarter w3-label")
					label Server Name: 
				div(class="w3-half")
					input(class="w3-input theme-input w3-no-border" type="text" name="servername")
			div(class="w3-row w3-padding-16")
				div(class="w3-quarter w3-label")
					label Lower message: 
				div(class="w3-half")
					input(class="w3-input theme-input w3-no-border" type="text" name="lowermessage")
			div(class="w3-row w3-padding-16")
				div(class="w3-quarter w3-label")
					label Upper message: 
				div(class="w3-half")
					input(class="w3-input theme-input w3-no-border" type="text" name="uppermessage")
			div(class="w3-row w3-padding-16")
				div(class="w3-quarter w3-label")
					label Hover message: 
				div(class="w3-half ")
					input(class="w3-input theme-input w3-no-border" type="text" name="hovermessage")
			div(class="w3-row w3-padding-16")
				div(class="w3-quarter w3-label")
					label Disconnect message: 
				div(class="w3-half")
					input(class="w3-input theme-input w3-no-border" type="text" name="disconnectmessage")
			div(class="w3-row w3-padding-16")
				div(class="w3-rest w3-label")
					input(class="w3-round" type="file" name="serverpicture" value="Chose picture")
				div(class="w3-quarter w3-label")
					input(type="submit" class="theme-submit w3-button" value="create server")
			
			if redirectURL
				input(type="hidden" name="redirectURL" value=redirectURL)